#app {
    max-width: 800px;
    font-family: monospace;
    letter-spacing: -0.5px;
}

h1 {
    color: darkslategray;
    text-align: center;
    letter-spacing: -2px;
    background-color: deepskyblue;
    font-family: "Comic Sans MS", serif;
}

#div-create-form {
    display: none;
}

#app-table-result td {
    color: darkslategray;
    padding-left: 3px;
}

#app-table-result td :last-child  {
    margin-left: auto;
    margin-right: auto;
}

#app-table-result tr:first-child {
    background-color: darkslategray;
    color: deepskyblue;
    font-family: Monospaced, monospace;
    padding-left: 0;
}

#div-plus {
    margin-left: auto;
    margin-right: auto;
}

.recipe-add-edit {
    display: none;
}

#div-update-form {
    display: none;
}

#th-actions {
    width: 130px;
}
