#app {
    max-width: 800px;
    min-width: 500px;
    font-family: monospace;
    letter-spacing: -0.5px;
    font-size: 24px;
}

h1 {
    color: darkslategray;
    text-align: center;
    letter-spacing: -0.1em;
    background-color: deepskyblue;
    font-family: "Comic Sans MS", monospace;
    font-size: 1em;
}

#app-table-result th {
    font-size: 1em;
}

#app-table-result td {
    font-size: 0.8em;
    font-weight: bolder;
    color: darkslategray;
    padding: 0 0.15em 0 0.3em;
}

#app-table-result td:nth-child(2n+1) {
    background-color: whitesmoke;
}

.th-actions {
    width: 115px;
}

#app-table-result tr:first-child {
    background-color: darkslategray;
    color: deepskyblue;
    font-family: Monospaced, monospace;
    padding-left: 0;
}

.recipe-add-edit {
    display: none;
}

#div-two-actions {
    display: flex;
}

#div-plus {
    width: 10%;
}

#div-search {
    width: 90%;
}

#div-create-form {
    display: none;
}

.col-form-label {
    font-size: 0.8em;
    letter-spacing: -0.05em;
}

.large-btn{
    font-weight: bolder;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    .col-form-label {
        display: none;
    }
    #name::placeholder, #ingredients::placeholder, #instructions::placeholder{
        visibility: visible;
    }
}

@media only screen and (min-width: 601px) {
    .col-form-label {
        display: block;
    }
    #name::placeholder, #ingredients::placeholder, #instructions::placeholder{
        visibility: hidden;
    }
}